* {
  padding: 0;
  margin: 0;
  font-family: Ludia Sans;

}

html {
  height: 100%;
  background-color: #c7e9ff;

}

body {
  position: relative;
  /*height: 1000vh;*/

}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #8ad2ea;

}


img[src="pictures/logo.png"] {
  margin-top: 0.2em;
  height: 5.6em;
  width: auto;
  margin-left: 7.33px;
}

img[src="pictures/miltersaw.jpg"] {
  margin-top: 0.2em;
  height: 15em;
  width: 100%;

}

img[src="pictures/drillpress.png"] {
  margin-top: 0.2em;
  height: 15em;
  width: 100%;

}

img[src="pictures/bandsaw.png"] {
  margin-top: 0.2em;
  height: 15em;
  width: 100%;

}

img[src="pictures/disksander.png"] {
  margin-top: 0.2em;
  height: 15em;
  width: 100%;

}

img[src="pictures/beltsander.png"] {
  margin-top: 0.2em;
  height: 15em;
  width: 100%;

}

img[src="pictures/spindlesander.png"] {
  margin-top: 0.2em;
  height: 15em;
  width: 100%;

}

img[src="pictures/tablesaw.png"] {
  margin-top: 0.2em;
  height: 15em;
  width: 100%;
  margin: auto;
}
img[src="pictures/laserengraver.jpg"] {
  margin-top: 0.2em;
  height: 15em;
  width: 100%;

}

img[src="pictures/3dprinter.jpg"] {
  margin-top: 0.2em;
  height: 15em;
  width: 100%;

}
img[src="Pic.png"] {
  opacity: 100%;
  width: 100
}

img[src="Ima.png"] {
  width: 100% height:auto;

}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  width: 100%;
  margin: auto;
}

.subcontainer {
  width: 85%;
  margin: auto;
}

.navbar {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: black;
}

#home {
  /*height: 200vh;*/
  margin-top: 7em;
  /*background: linear-gradient(to right,
      blue 0%,
      blue 50%,*/
  background-color: #c7e9ff;

    )
}

#contact {
  margin-top: 70px;

  height: 100vh;
}

@media(max-width: 1600px) {
  .container {
    width: 100%;
  }
}

@media(max-width:1024px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #8ad2ea;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;

  }
}


.contact-style {
  background-image: linear-gradient(to right, #3d88ae 0%, #3d88ae 40%, white 40%, white 100%)
}


.container {
  display: flex;
}
.signup,
.signup1,
.signup2 {
  float: left;
  width: 30%;
  height: 10%;
  border: 1px solid black;
  padding: 30px;
  margin: 10px;
  /* Adjust the margin as needed */
}

.borrow-button {
  background-color: #cdf4f4;
  border: radius;
  2px;
  border-style: solid;
  border-color: #000000;

  padding: 9px 27px 12px;
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  color: #884467;
  transition: background-color 0.15s,
    color 0.5s;
  transition: opacity 0.15s;
  opacity: 1;



}



.borrow-button:hover {
  background-color: #8ee1e1;
  color: black;
}

.borrow-button:active {
  opacity: 0.5;
}

.signup-button {
  background-color: #cdf4f4;
  border: radius;
  2px;
  border-style: solid;
  border-color: #000000;

  padding: 9px 27px 12px;
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  color: #884467;
  transition: background-color 0.15s,
    color 0.5s;
  transition: opacity 0.15s;
  opacity: 1;






}





.signup-button:hover {
  background-color: #8ee1e1;
  color: black;
}

.signup-button:active {
  opacity: 0.5;
}

.thumbnail {
  display: block;
  max-width:315px;
  max-height:210px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.catalog-box {
  display: inline-block;
  width: 20.32em;
  height: 22em;
  border: 2px solid black;
  margin: 10px;
  padding: 0.19em;
  text-align: center;
}


.membership {
  position: relative;
  text-align: center;
  color: Black;
}


#footer-div{
  width: 100%;
  min-height: 4.16em;
  background-color: #8fddff;
  text-align: center;
  line-height: 4.16em;
  height: 8vh;
  font-size:clamp(1.1vw, 1.3vw, 1.4vw);
}


 a:link{color: black};
a:visited{color: black};
