*{
  padding:0;
  margin:0;
}

body{
  position: relative;
  height: 1000vh;
  margin-top: 110px;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color:#C0FFFF;
}

li{
  list-style: none;
}

a{
  color: black;
  text-decoration: none;
}

.container{
  width:1600px;
  margin:auto;
}

.subcontainer{
  width:85%;
  margin:auto;
}

.navbar{
  width:100%;
  min-height:70px;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.nav-menu{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:60px;
}

.nav-branding{
  font-size: 2rem;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: black;
}

#home{
  margin-top: 70px;
  border: 1px solid black;
  height: 100vh;
}

@media(max-width: 1600px){
  .container{
    width: 100%;
  }
}

@media(max-width:1024px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #C0FFFF;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;

  }
}


img {
  width: 100px;
  height: 100px;
}

.container {
  display: flex;
}

.signup1,
.signup2 {
  float:left;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  padding: 30px;
  margin: 10px; /* Adjust the margin as needed */
}

.signup-button {
    background-color: #cdf4f4;
  border: radius; 2px;
  border-style: solid;
  border-color: #00adad;
  margin-top: 10px;
  padding: 9px 27px 12px;
  font-weight: bold;
  font-size: 15px;
  cursor:pointer;
  color:#884467;
  transition: background-color 0.15s,
  color 0.5s;
  transition: opacity 0.15s;
  opacity: 1;



}





.signup-button:hover {
background-color: #8ee1e1;
color: black;
}
.signup-button:active {
  opacity: 0.5;
}

.thumbnail {
  width:300px;
  height:300px;
 

}
.catalog-box {
  display:inline-block;
  width: 325px;
  border: 1px solid black;
  margin: 10px;
}
